<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--02152021 Log4Net-->
  <log4net>
    <root>
      <level value="ALL" />
      <!--<appender-ref ref="console" />-->
      <appender-ref ref="file" />
    </root>
    <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <file value="myapp.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%date [%thread] %level %logger - %message%newline" />-->
        <conversionPattern value="%date&#9; [%level]&#9; [User: %property{CurrentUser}] [%property{CurrentClient}]_%logger&#9; - %message %newline" />
      </layout>
      <parameter>
        <parameterName value="@CurrentUser"/>
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{CurrentUser}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@CurrentClient"/>
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{CurrentClient}" />
        </layout>
      </parameter>
    </appender>

    <!-- ADO Appender // ABANG MUNA FOR DATABASE LOGGING-->
    <!--<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="5" />
      <lossy value="false" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=localhost;initial catalog=MyDb;integrated security=true;" />
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception],[MessageId]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception, @messageId)" />
    </appender>-->
    
  </log4net>
</configuration>